/* Tab container */
.tab {
  display: flex;
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 16px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  padding: 20px;
  border-top: none;
}

.tab-content.active {
  display: block;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.workspace-controls-container {
    display: flex;
    flex-direction: row;
    height: 130%;
}

#blocklyDiv {
    height: 150%;
    width: 100%;
    border: 2px solid #ccc;
}

#controls {
    height: 100%;
    width: 32%;
    margin-left: 20px;
    overflow-y: auto;
}

button, input[type="file"] {
    display: block;
    margin: 10px 0;
}

input[type="file"] {
    padding: 8px;
}
